@keyframes rotation-box{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(241, 185, 17);
    z-index: 9999;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.loader-text{
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 300%;
    transition: 1s ease-in;
}
.loader-text:hover{
    color: rgb(255, 185, 23);
}
.box-loader{
    height: 300px;
    width: 300px;
    border: 3px solid white;
    animation: rotation-box 3.5s forwards infinite;
    border-radius: 2px;
    animation-delay: -0.5s;
}
.loaded{
    opacity: 0;
    visibility: hidden;
}
.not-loaded{
    opacity: 1;
}