*{
    margin: 0;
}
.position-menu{
    display: block;
    width: 100%;
    position: fixed;
    background-color: white;
}
.empty-box{
    background-color: white;
    height: 200px;
}
.header-info{
    height: 33px;
    width: 100%;
    background-color: rgb(227, 227, 227);
}
.header-text{
    display: inline-block;
    padding: 7px 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 90%;
    color: grey;
}
.header-position{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: grey;
}
.tyo{
    color: grey;
}
.tyo::before{
    position: relative;
    content: url('assets/fluent--vehicle-car-profile-16-filled.svg');
    top: 5px;
}
.dt::before{
    position: relative;
    content: url('assets/lineicons--map-marker-5.svg');
    top: 2px;
}
.ao::before{
    position: relative;
    content: url('assets/bxs--offer.svg');
    top: 3px;
}
.main-menu{
    display: grid;
    height: 90px;
    border-bottom: 0.5mm solid rgb(231, 171, 51);
    align-items: center;
    grid-template-columns: 0;
    grid-template-columns: 0.7fr 5fr 5fr 1fr 0.3fr 1fr;
    gap: 20px;
}
li{
    list-style-type: none;
}
.menu-button{
    height: 40px;
    width: 40px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(231, 171, 51);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    user-select: none;
    line-height: 9px;
}
.title-menu{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    color: rgb(231, 171, 51);
}
.search-info{
    display: flex;
    width: 300px;
    height: 30px;
    border-radius: 6px;
    border: 0;
    background-color: rgb(255, 231, 183);
    gap: 10px;
    align-items: center;
    scale: 150%;
}
.find{
    content: url(assets/find-svgrepo-com.svg);
    padding-left: 6px;
}
.dots{
    content: url(assets/dots-9-svgrepo-com.svg);
    padding-right: 6px;
}
.search-info-input{
    width: 100%;
    border: 0;
    background-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80%;

}
.cart{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
}
.cart::before{
    position: absolute;
    transform: translateX(-40px) translateY(-5px);
    content: url(assets/cart-shopping-svgrepo-com.svg);
}
.sign-in{
    cursor: pointer;
    user-select: none;
    color: grey;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sign-in::before{
    position: absolute;
    transform: translateX(-40px) translateY(-5px);
    content: url(assets/personal-svgrepo-com.svg);
}

.poster-main{
    padding: 0 30%;

}

.product-list-main{
    color: grey;
    height: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 70px;
}
.text-before-plist{
    font-size: 120%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(231, 171, 51);
    flex-wrap: wrap;

}
.smartphones{
    color: rgb(231, 171, 51);
}
.product-list-container{
    display: flex;
    height: 250px;
    align-items: center;
    padding: 0;
    justify-content: space-around;
    padding-top: 30px;
    flex-wrap: wrap;
}
.product-list-element{
    flex-basis: 200;
    display: flex;
    border-radius: 12px;
    height: 250px;
    width: 200px;
    border: 1px solid grey;
    flex-direction: column;
    transition: 0.5s;
}
.product-top-element{
    flex: 1.5;
    background-color: rgb(239, 239, 239);
    z-index: -3;
}
.product-bottom-element{
    flex: 1;
    position: static;
    display: flex;
    background-color: white;
    z-index: -3;
}
.product-list-element:hover{
    box-shadow: 0px 2px 10px 1px rgb(231, 171, 51);
    border: 1px solid rgb(255, 234, 113);
}
.product-list-main-2{
    color: grey;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 70px;
}
.text-before-plist-2{
    font-size: 120%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(231, 171, 51);
}
.product-list-container-2{
    display: flex;
    justify-content: space-around;
    padding: 0;
    padding-top: 20px;
    
}
.product-list-element-2{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
    transition: 0.5s;
}
.product-list-element-2:hover{
    box-shadow: 0px 2px 10px 1px rgb(231, 171, 51);
    border: 1px solid rgb(231, 171, 51);
}
.product-list-main-3{
    color: grey;
    height: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 70px;
}
.text-before-plist-3{
    font-size: 120%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(231, 171, 51);
}
.product-list-container-3{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    padding-top: 40px;
}
.product-list-element-3{
    border: 2px solid;
    height: 200px;
    width: 400px;
    border-radius: 12px;
}
.product-list-main-4{
    color: grey;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 70px;
}
.product-list-container-4{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    padding-top: 40px;
}
.product-list-element-4{
    background-color: rgb(247, 247, 247);
    border: 2px solid;
    height: 200px;
    width: 200px;
    border-radius: 12px;
    transition: 0.3s;
}
.product-list-element-4:hover{
    border: 1px solid rgb(231, 171, 51);
    box-shadow: 0px 0px 5px 1px rgb(231, 171, 51);
}
.text-bottom-second-element{
    color: black;
    font-size: 120%;
    display: flex;
    justify-content: center;
    padding-top: 13px;
}
